
.div1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    color: rgba(73, 25, 57, 0.986);
  
}

.div2{
    text-align: center;
    font: 100;
    color: rgb(19, 1, 77);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

