@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: 
    linear-gradient(90deg, rgb(18, 195, 195, 0.5), rgb(11, 11, 225, 0.5)),
    linear-gradient(270deg, rgb(254, 173, 0), rgb(242, 255, 0)),
    linear-gradient(180deg, rgb(255, 0, 43), rgb(0, 81, 0)) ;

    /* background-image: linear-gradient(90deg, green, pink);
    
    */


    background-repeat: no-repeat;

    /* background-image: linear-gradient(90deg, aqua, blue, grey) ; */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "DM sans", serif;
    height: 100vh;


}


h1{
text-align: center;
font-size: 40px;
color: turquoise;
font-weight: 900;

}



.card{
    width: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: center;
    color: darkcyan;
    font-weight: 500;

    clip-path: polygon(58% 0, 100% 0, 100% 100%, 0 100%);
    
}




