


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




table{
    border-collapse: collapse;
    width: 100%;

    
    
}



th{
    text-align: start;
}




a{
    text-decoration: none;

}







.ccc{
    text-align: center;
    
}






tr:nth-child(even){
    background-color: rgb(24, 237, 184);
    color: white;
}

tr:nth-child(odd){
    background-color: rgb(69, 251, 184);
    color: white;
}



tr:nth-child(1n){
    border-bottom:  1px solid black;
}


tr:first-child{
    background-color: rgb(43, 239, 170);
    color: rgb(255, 255, 255);
}




tr:not(:first-child):hover{
    background-color: rgb(0, 81, 51);
    cursor: pointer;
}

