body {
    color: burlywood;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:normal;

}




.ubuntu-font {
    color: rgb(141, 19, 19);
    font-family: "ubuntu", sans-serif ;
    font-weight: 400;
    font-style: normal;
}




.Bebas-font{
    color: aquamarine;
    font-family: "besas", sans-serif;
    font-weight: 400;
    font-style: normal;
}


